.menu {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}
.menu li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
}
.menu li a {
  display: block;
  text-decoration: none;
  border: 1px solid #3d78c3;
  padding: 5px;
  border-radius: 3px;
  background: #fff;
  color: #3d78c3;
}
.window {
  padding: 20px;
  display: none;
  width: 800px;
  border: 1px solid #3d78c3;
  border-radius: 3px;
}

#we {
  background: #d8efe7;
}
#price {
  background: #ffecb4;
}
#delivery {
  background: #e7e4ff;
}
#we:target,
#price:target,
#delivery:target,
#callback:target {
  display: block;
}
.bkg {
  display: none;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.form {
  padding: 50px;
  width: 300px;
  height: 100px;
  background: #ffd0ce;
  border: 1px solid #3d78c3;
  border-radius: 3px;
  position: absolute;
  top: 200px;
  left: 500px;
}

form input {
  padding: 5px;
  font-size: 1.1em;
}
