.column {
  margin: 5px;
  min-height: 100px;
  background-color: #5c9ad5;
}
.five {
  height: 320px;
}
.slider {
  position: relative;
  padding: 0;
  margin: 0 0;
}
.slider li {
  display: none;
}
.slider li.active {
  display: block;
}
.slider img {
  width: 100%;
}
.slider .text {
  color: azure;
  font-size: 35px;
  position: absolute;
  bottom: 20px;
  left: 15px;
}
